html, body {
    margin: 0;
    padding: 0;
    width: 100%;
}

.navbar {
    width: 100%;
    z-index: 1000;
    position:  fixed !important;
    background-color: rgba(255, 255, 255, 0.95);
    box-shadow: 1px 1px 12px #555;
}

.logo {
    border-radius: 50%;
    width: 60px;
}

.nav-link {
    margin-left: 30px;
}

.work {
    width: 100%;
}

.profil {

    display: block;
    margin: auto;
    text-align: center;
}

.head {
    margin-top: 78px;
    border-radius: 50%;
    width: 170px;
    border: 2px solid #ffffff;
}

.name {
    color: #ffffff;
    padding-top: 5px;
    font-size: 45px;
}

.name:hover {
    color: rgb(199, 199, 199);
}

.profil:hover {text-decoration: none;  }

h2{
   color: #40224C !important;
   font-weight: bold !important;
}

.pdf {
    width: 100%;
    height: 100%;
}

.background {
    padding: 100px;
    background-image: url("../img/work.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.jumbotron {
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 30px;
}

.div1 {
    display: block;
}

.div2 {
    display: none;
}

.div3 {
    display: none;
}

.div4 {
    display: none;
}

#send {
    display: none !important;
}

.input{
	width: 60%;
	height: 50px;
	font-size: 15px;
	font-family: sans-serif;
	border: 1px solid #a8a8a8;
	overflow: hidden;
	padding-left: 15px;
	padding-right: 15px;
	margin-bottom: 14px;
	display: block;
	margin : auto;


	box-sizing: border-box;
	cursor: text;
	overflow-y: auto;
	text-align: left;
	white-space: pre-wrap;
	word-wrap: break-word;
}

.input:hover{
	background-color:  #f0f0f5;
	border: none;
}

.button {
    display: block !important;
    margin: auto;
    border-radius: 60px !important;
    width: 50%;
    color: #40224C !important;
    border: 3px solid #40224C !important;
    background-color: none !important;
}

.button:hover {
  background-color: #40224C !important;
  color: #ffffff !important;
}


#footer {
    background-color: #3a3f46;
    color: white;
    height: 62px;
}

#footer .container {
    display: flex;
    justify-content: space-between;
}


#footer .logo {
    border-radius: 50%;
    width: 50px;
    margin-top: 5px;
}

#footer p {
    margin-top: 18px;
}

#footer a {
    color: #d2d1d1;
    text-decoration: none;
    margin-top: 23px;
}

#footer a:hover,
#footer a:focus {
    text-decoration: none;
    color: white;
}


#footer .facebook:hover {
    color: #0077e2;
}

#footer .google:hover {
    color: #ef1a1a;
}

#footer .twitter:hover {
    color: #00aced;
}

@media screen and (max-width: 768px) {

    .jumbotron {
        margin-left: 0px;
        margin-right: 0px;
        margin-top: 15px;
    }

    #footer .logo {
        display: none;
    }

    #footer p {
        margin-top: 8px;
    }

    #footer a {
        margin-right: 20px;
    }

}

@media screen and (max-width: 400px) {
    #footer a {
        display: none;
    }
    #footer p {
        text-align: center;
    }
}


/* form starting stylings ------------------------------- */

.GlobalGroup {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.group 			  {
  position:relative;
  margin-bottom:45px;

}
input 				{
  font-size:18px;
  padding:10px 10px 10px 5px;
  display:block;
  width:300px;
  border:none;
  border-bottom:1px solid #757575;
}
input:focus 		{ outline:none; }

/* LABEL ======================================= */
label 				 {
  color:#999;
  font-size:18px;
  font-weight:normal;
  position:absolute;
  pointer-events:none;
  left:5px;
  top:10px;
  transition:0.2s ease all;
  -moz-transition:0.2s ease all;
  -webkit-transition:0.2s ease all;
}

/* active state */
input:focus ~ label, input:valid ~ label 		{
  top:-20px;
  font-size:14px;
  color:#5264AE;
}

/* BOTTOM BARS ================================= */
.bar 	{ position:relative; display:block; width:300px; }
.bar:before, .bar:after 	{
  content:'';
  height:2px;
  width:0;
  bottom:1px;
  position:absolute;
  background:#5264AE;
  transition:0.2s ease all;
  -moz-transition:0.2s ease all;
  -webkit-transition:0.2s ease all;
}
.bar:before {
  left:50%;
}
.bar:after {
  right:50%;
}

/* active state */
input:focus ~ .bar:before, input:focus ~ .bar:after {
  width:50%;
}

/* HIGHLIGHTER ================================== */
.highlight {
  position:absolute;
  height:60%;
  width:100px;
  top:25%;
  left:0;
  pointer-events:none;
  opacity:0.5;
}

/* active state */
input:focus ~ .highlight {
  -webkit-animation:inputHighlighter 0.3s ease;
  -moz-animation:inputHighlighter 0.3s ease;
  animation:inputHighlighter 0.3s ease;
}

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
	from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}
@-moz-keyframes inputHighlighter {
	from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}
@keyframes inputHighlighter {
	from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}
